<full-calendar [options]="calendarOptions"></full-calendar>
<div class="list-of-data">
  <div *ngFor="let d of summary">
    <h2>{{ d.date | date }}</h2>
    <div *ngFor="let i of d.items">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ i.drink.name }}</mat-card-title>
          <mat-card-subtitle>{{ i.drink.size.value }} {{ getUnitString(i.drink.size.unit) }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Contain <b>{{ i.drink.caffeine.value }} {{ getUnitString(i.drink.caffeine.unit) }}</b> of caffeine
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
