<div id="gauge">
  <mwl-gauge [max]="getMaxCaffeine()"
  [value]="currentCaffeine"
  [animated]="true"
  [label]="generateLabel"
  [animationDuration]="1"></mwl-gauge>
</div>

<div class="list-of-data">
  <div *ngFor="let d of summary">
    <div class="date"><strong>{{ d.date | date }} </strong><span class="dateCaffeine">({{ getCaffeineByDay(d.date) }} g)</span></div>
    <div *ngFor="let i of d.items">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ i.drink.name }}</mat-card-title>
          <mat-card-subtitle>{{ getSizeUnit(i.drink.size) }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Contain <b>{{ getCaffeineUnitString(i.drink.caffeine) }}</b> of caffeine
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
